html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

form,
input,
button,
select,
option {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}
.container{
  max-width: 1290px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.logo{
  max-width: 150px;
}